/Source/ProgramHeaders.xml
/Source/DataSourcesIndex.xml
*.sln
*.suo
*.xpaproj
*.lock
*.opt
*.log
*.XRF
MagicIDs/branchIDs*.*
Developer.ini
Start.lnk
/input
/Angular/package-lock.json
/Angular/node_modules
/Angular/package.json
