/* Generated design tokens (HSL) */
:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 4%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 4%;
  --primary: 213 34% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 212 36% 10%;
  --secondary-foreground: 0 0% 100%;
  --accent: 222 40% 11%;
  --accent-foreground: 0 0% 100%;
  --muted: 220 5% 62%;
  --muted-foreground: 0 0% 4%;
  --border: 220 13% 91%;
  --input: 220 14% 96%;
  --ring: 222 40% 11%;
  --radius: 0.75rem;
}
.dark {
  --background: 223 39% 7%;
  --foreground: 210 40% 98%;
  --card: 222 47% 11%;
  --card-foreground: 220 13% 91%;
  --primary: 213 34% 11%;
  --primary-foreground: 0 0% 100%;
  --secondary: 212 36% 10%;
  --secondary-foreground: 0 0% 100%;
  --accent: 222 40% 11%;
  --accent-foreground: 0 0% 100%;
  --muted: 215 28% 17%;
  --muted-foreground: 213 27% 84%;
  --border: 215 28% 17%;
  --input: 220 14% 96%;
  --ring: 222 40% 11%;
  --radius: 0.75rem;
}
