<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div [magic]="mgc.MList">
        <!-- MList Component - Main Container -->
        <div class="member-list-container">
            <div class="member-list-content">

                <!-- Main Group Container -->
                <div
                    class="member-list-main-group"
                    [magic]="mgc.MainGroup"
                    [style.visibility]="mg.getVisible(mgc.MainGroup)"
                >

                    <!-- Member List Table -->
                    <div class="table-container">
                        <div [magic]="mgc.Table_Member_List">
                            <mat-table
                                #table
                                [dataSource]="dataSource"
                                class="member-list-table"
                                matSort
                                matSortDisableClear
                                (matSortChange)="tableService.sortData($event)"
                            >
                                <!-- Member ID Column -->
                                <ng-container
                                    [magic]="mgc.Column_Member_ID"
                                    [matColumnDef]="mgc.Column_Member_ID"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                        class="table-header-member-id"
                                    >
                                        Member ID
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-member-id"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Member_ID"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.Member_ID, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Title Column -->
                                <ng-container
                                    [magic]="mgc.Column_Title"
                                    [matColumnDef]="mgc.Column_Title"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-title"
                                    >
                                        Title
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-title"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Title"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.Title, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- First Name Column -->
                                <ng-container
                                    [magic]="mgc.Column_First_Name"
                                    [matColumnDef]="mgc.Column_First_Name"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-first-name"
                                    >
                                        First Name
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-first-name"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.First_Name"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.First_Name, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Last Name Column -->
                                <ng-container
                                    [magic]="mgc.Column_Last_Name"
                                    [matColumnDef]="mgc.Column_Last_Name"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-last-name"
                                    >
                                        Last Name
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-last-name"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Last_Name"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.Last_Name, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Birth Date Column -->
                                <ng-container
                                    [magic]="mgc.Column_Birth_Date"
                                    [matColumnDef]="mgc.Column_Birth_Date"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-birth-date"
                                    >
                                        Birth Date
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-birth-date"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Birth_Date"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.Birth_Date, row.rowId) | magicDate : mgc.Birth_Date}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Gender Column -->
                                <ng-container
                                    [magic]="mgc.Column_Gender"
                                    [matColumnDef]="mgc.Column_Gender"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-gender"
                                    >
                                        Gender
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-gender"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Gender"
                                                    [rowId]="row.rowId"
                                                    class="text-input"
                                                >
                                                    {{mg.getValue(mgc.Gender, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container
                                    [magic]="mgc.Column_Action"
                                    [matColumnDef]="mgc.Column_Action"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        class="table-header-action"
                                    >
                                        Action
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                        class="table-cell-action"
                                    >
                                        <div
                                            style="display: flex; flex-direction: column; gap: 0.5rem;"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <button
                                                type="button"
                                                [magic]="mgc.btn_Modify"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.btn_Modify, row.rowId)"
                                                class="button-primary action-button-small"
                                            >
                                                Modify
                                            </button>
                                            <button
                                                type="button"
                                                [magic]="mgc.btn_Delete"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.btn_Delete, row.rowId)"
                                                class="button-danger action-button-small"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row
                                    *matRowDef="let row; columns: displayedColumns;"
                                    class="table_row"
                                    [ngClass]="{ 'selected': selection.isSelected(row)}"
                                    [magicRow]="row?.rowId"
                                    (click)="row? tableService.selectRow(row.rowId) : null"
                                >
                                </mat-row>
                            </mat-table>
                            <mat-paginator
                                #paginator
                                [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 20]"
                                (page)="tableService.mgOnPaginateChange($event)"
                            >
                            </mat-paginator>
                        </div>
                    </div>

                    <!-- Create Member Button -->
                    <div class="form-actions">
                        <button
                            type="button"
                            id="btn_CreateMember"
                            [magic]="mgc.btn_CreateMember"
                            class="button-primary action-button"
                        >
                            Create New Member
                        </button>
                    </div>

                </div>

                <!-- MCard SubForm -->
                <div
                    class="subform-wireframe"
                    [style.visibility]="mg.getVisible(mgc.SFMCard)"
                >
                    <magic-subform
                        [magic]="mgc.SFMCard"
                        [style.visibility]="mg.getVisible(mgc.SFMCard)"
                    >
                    </magic-subform>
                </div>

                <!-- Toggle SubForm Variable (Hidden) -->
                <div class="hidden-field">
                    <input
                        type="hidden"
                        id="V_vToggleSubForm"
                        [magic]="mgc.V_vToggleSubForm"
                        [formControlName]="mgc.V_vToggleSubForm"
                    >
                </div>

            </div>
        </div>
    </div>
</div>
