<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div [magic]="mgc.RegisteredMembers">
        <!-- RegisteredMembers Component -->
        <div class="member-selection-container">
            <div class="member-selection-content">

                <!-- Add Member Button -->
                <div class="form-actions">
                    <button
                        id="btnAddMember"
                        type="button"
                        class="button-primary action-button"
                        [magic]="mgc.btnAddMember"
                    >
                        Add Member
                    </button>
                </div>

                <!-- Registered Members Table -->
                <div class="table-container">
                    <div [magic]="mgc.Table_M_Contact">
                        <mat-table
                            #table
                            [dataSource]="dataSource"
                            class="member-selection-table"
                            matSort
                            matSortDisableClear
                            (matSortChange)="tableService.sortData($event)"
                        >
                            <!-- Member Column -->
                            <ng-container
                                [magic]="mgc.ColumnMember"
                                [matColumnDef]="mgc.ColumnMember"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-name">
                                    Member
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-name"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <label
                                                [magic]="mgc.Name"
                                                [rowId]="row.rowId"
                                                class="text-input"
                                            >
                                                {{mg.getValue(mgc.Name, row.rowId)}}
                                            </label>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container
                                [magic]="mgc.ColumnAction"
                                [matColumnDef]="mgc.ColumnAction"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-checkbox">
                                    Action
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-checkbox"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <button
                                            type="button"
                                            class="button-secondary"
                                            [magic]="mgc.btnDelete"
                                            [rowId]="row.rowId"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row
                                *matRowDef="let row; columns: displayedColumns;"
                                class="table_row"
                                [ngClass]="{ 'selected': selection.isSelected(row)}"
                                [magicRow]="row?.rowId"
                                (click)="row? tableService.selectRow(row.rowId) : null"
                            >
                            </mat-row>
                        </mat-table>
                        <mat-paginator
                            #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]"
                            (page)="tableService.mgOnPaginateChange($event)"
                        >
                        </mat-paginator>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
