<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div [magic]="mgc.MCard">
        <div class="member-card-container">
            <div class="member-card-content">

                <div class="form-row form-row-two-columns">
                    <div class="half-width">
                        <label class="form-label">
                            <span class="label-text">Member ID</span>
                            <input
                                type="number"
                                id="Member_ID"
                                [magic]="mgc.Member_ID"
                                [formControlName]="mgc.Member_ID"
                                mgFormat
                                class="text-input"
                                maxlength="10"
                            >
                        </label>
                    </div>

                    <div class="half-width">
                        <label class="form-label">
                            <span class="label-text">Button Visibility</span>
                            <select
                                id="P_pBtnVisibility"
                                [magic]="mgc.P_pBtnVisibility"
                                [formControlName]="mgc.P_pBtnVisibility"
                                class="select-input"
                            >
                                <option
                                    *ngFor="let o of mg.getItemListValues(mgc.P_pBtnVisibility);"
                                    [value]="o.index"
                                >
                                    {{o.displayValue}}
                                </option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="form-row">
                    <label class="form-label">
                        <span class="label-text">Title <span class="required-indicator">*</span></span>
                        <select
                            id="Combo_Title"
                            [magic]="mgc.Combo_Title"
                            [formControlName]="mgc.Combo_Title"
                            class="select-input"
                            required
                        >
                            <option value="">Select title...</option>
                            <option
                                *ngFor="let o of mg.getItemListValues(mgc.Combo_Title);"
                                [value]="o.index"
                            >
                                {{o.displayValue}}
                            </option>
                        </select>
                        <mgError [magic]=mgc.Combo_Title></mgError>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label">
                        <span class="label-text">First Name <span class="required-indicator">*</span></span>
                        <input
                            type="text"
                            id="First_Name"
                            [magic]="mgc.First_Name"
                            [formControlName]="mgc.First_Name"
                            mgFormat
                            class="text-input"
                            maxlength="50"
                            required
                        >
                        <mgError [magic]=mgc.First_Name></mgError>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label">
                        <span class="label-text">Last Name <span class="required-indicator">*</span></span>
                        <input
                            type="text"
                            id="Last_Name"
                            [magic]="mgc.Last_Name"
                            [formControlName]="mgc.Last_Name"
                            mgFormat
                            class="text-input"
                            maxlength="50"
                            required
                        >
                        <mgError [magic]=mgc.Last_Name></mgError>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label">
                        <span class="label-text">Birth Date <span class="required-indicator">*</span></span>
                        <div
                            [magic]="mgc.Birth_Date"
                            [eventsOnly]=true
                        >
                            <input
                                type="date"
                                id="Birth_Date"
                                [magic]="mgc.Birth_Date"
                                [formControlName]="mgc.Birth_Date"
                                mgFormat
                                class="text-input"
                                required
                            >
                        </div>
                        <mgError [magic]=mgc.Birth_Date></mgError>
                    </label>
                </div>

                <div class="form-row">
                    <label class="form-label">
                        <span class="label-text">Gender <span class="required-indicator">*</span></span>
                        <select
                            id="Combo_Gender"
                            [magic]="mgc.Combo_Gender"
                            [formControlName]="mgc.Combo_Gender"
                            class="select-input"
                            required
                        >
                            <option value="">Select gender...</option>
                            <option
                                *ngFor="let o of mg.getItemListValues(mgc.Combo_Gender);"
                                [value]="o.index"
                            >
                                {{o.displayValue}}
                            </option>
                        </select>
                        <mgError [magic]=mgc.Combo_Gender></mgError>
                    </label>
                </div>

                <div class="form-actions">
                    <button
                        id="btnSave"
                        type="button"
                        [magic]="mgc.btnSave"
                        [disabled]="mg.isDisabled(mgc.btnSave)"
                        class="button-primary action-button"
                    >
                        Save
                    </button>
                </div>

                <div class="form-row">
                    <magic-subform [magic]="mgc.SubF_M_Contact">
                    </magic-subform>
                </div>

                <div class="form-row">
                    <magic-subform [magic]="mgc.SubFMEmail">
                    </magic-subform>
                </div>

                <div class="form-actions">
                    <button
                        id="btnQuit"
                        type="button"
                        [magic]="mgc.btnQuit"
                        class="button-secondary action-button"
                    >
                        CreateQuit
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
