<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        [magic]="mgc.EventList"
    >
        <!-- EventList Component - Main Container -->
        <div class="w-full h-full p-4 box-border">

            <!-- Main Group Container -->
            <div
                class="w-full mb-4"
                [magic]="mgc.MainGroup"
                [style.visibility]="mg.getVisible(mgc.MainGroup)"
            >

                <!-- Event List Table -->
                <div class="w-full bg-white rounded-lg shadow-md overflow-hidden mb-4">
                    <div class="overflow-x-auto">
                        <div class="example-container mat-elevation-z8 TableEventListTableContainerProps">
                            <mat-table
                                #table
                                [dataSource]="dataSource"
                                class="container_border"
                                matSort
                                matSortDisableClear
                                (matSortChange)="tableService.sortData($event)"
                            >
                                <!-- Event ID Column -->
                                <ng-container
                                    [magic]="mgc.EventID"
                                    [matColumnDef]="mgc.EventID"
                                >
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Event ID
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Inforrmation_Event_ID"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_ID, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Event Type Column -->
                                <ng-container
                                    [magic]="mgc.EventType"
                                    [matColumnDef]="mgc.EventType"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        Event Type
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Inforrmation_Event_Type"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_Type, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Event Name Column -->
                                <ng-container
                                    [magic]="mgc.EventName"
                                    [matColumnDef]="mgc.EventName"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        Event Name
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Inforrmation_Event_Name"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_Name, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Event Location Column -->
                                <ng-container
                                    [magic]="mgc.EventLocation"
                                    [matColumnDef]="mgc.EventLocation"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        Event Location
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Location"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Location, row.rowId)}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Start Date Column -->
                                <ng-container
                                    [magic]="mgc.StartDate"
                                    [matColumnDef]="mgc.StartDate"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        Start Date
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Inforrmation_Start_Date"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Start_Date, row.rowId) | magicDate : mgc.Event_Inforrmation_Start_Date}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- End Date Column -->
                                <ng-container
                                    [magic]="mgc.EndDate"
                                    [matColumnDef]="mgc.EndDate"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        End Date
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: row"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <div
                                                [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                                style="display: flex; flex-direction: row"
                                            >
                                                <label
                                                    [magic]="mgc.Event_Inforrmation_End_Date"
                                                    [rowId]="row.rowId"
                                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_End_Date, row.rowId) | magicDate : mgc.Event_Inforrmation_End_Date}}
                                                </label>
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container
                                    [magic]="mgc.Column_Action"
                                    [matColumnDef]="mgc.Column_Action"
                                >
                                    <mat-header-cell *matHeaderCellDef>
                                        Action
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row"
                                        magicMark="magicTableRowContainer"
                                    >
                                        <div
                                            style="display: flex; flex-direction: column; gap: 0.5rem;"
                                            *ngIf="mg.ifRowCreated(row)"
                                        >
                                            <button
                                                mat-raised-button
                                                color="primary"
                                                [magic]="mgc.btn_Modify"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.btn_Modify, row.rowId)"
                                                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                                            >
                                                Modify
                                            </button>
                                            <button
                                                mat-raised-button
                                                color="warn"
                                                [magic]="mgc.btn_Delete"
                                                [rowId]="row.rowId"
                                                [style.visibility]="mg.getVisible(mgc.btn_Delete, row.rowId)"
                                                class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row
                                    *matRowDef="let row; columns: displayedColumns;"
                                    class="table_row hover:bg-gray-50 transition-colors duration-150"
                                    [ngClass]="{ 'selected': selection.isSelected(row)}"
                                    [magicRow]="row?.rowId"
                                    (click)="row? tableService.selectRow(row.rowId) : null"
                                >
                                </mat-row>
                            </mat-table>
                            <mat-paginator
                                #paginator
                                [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 20]"
                                (page)="tableService.mgOnPaginateChange($event)"
                            >
                            </mat-paginator>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="flex gap-4 mb-4">
                    <button
                        mat-raised-button
                        [magic]="mgc.BtnViewRefresh"
                        class="px-6 py-2 bg-gray-600 text-white rounded-md hover:bg-gray-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                    >
                        ViewRefresh
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        [magic]="mgc.btnCreateEvent"
                        class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                    >
                        Create New Event
                    </button>
                </div>

            </div>

            <!-- EventCard SubForm -->
            <div
                class="subform-wireframe"
                [style.visibility]="mg.getVisible(mgc.SFEventCard)"
            >
                <magic-subform
                    [magic]="mgc.SFEventCard"
                    [style.visibility]="mg.getVisible(mgc.SFEventCard)"
                >
                </magic-subform>
            </div>

            <!-- Toggle SubForm Variable (Hidden) -->
            <input
                type="hidden"
                [magic]="mgc.V_vToggleSubForm"
                [formControlName]="mgc.V_vToggleSubForm"
            >

        </div>
    </div>
</div>
