<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.EventList"
    >
        <div style="display: flex; flex-direction: row">
            <mat-card
                [magic]="mgc.MainGroup"
                [style.visibility]="mg.getVisible(mgc.MainGroup)"
                class="container_border"
            >
                <div style="display: flex; flex-direction: row">
                    <div class="example-container mat-elevation-z8 TableEventListTableContainerProps">
                        <mat-table
                            #table
                            [dataSource]="dataSource"
                            class="container_border"
                            matSort
                            matSortDisableClear
                            (matSortChange)="tableService.sortData($event)"
                        >
                            <ng-container
                                [magic]="mgc.EventID"
                                [matColumnDef]="mgc.EventID"
                            >
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                >
                                    Event ID
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field *ngIf="mg.isRowInRowEditing(row)">
                                                    <div>
                                                        <input
                                                            *ngIf="mg.isRowInRowEditing(row)"
                                                            matInput
                                                            type='number'
                                                            [magic]="mgc.Event_Inforrmation_Event_ID"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Inforrmation_Event_ID"
                                                            mgFormat
                                                        >
                                                        <mgError
                                                            [magic]=mgc.Event_Inforrmation_Event_ID
                                                            [rowId]="row.rowId"
                                                        > </mgError>
                                                    </div>
                                                </mat-form-field>
                                                <label
                                                    *ngIf="!mg.isRowInRowEditing(row)"
                                                    [magic]="mgc.Event_Inforrmation_Event_ID"
                                                    [rowId]="row.rowId"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_ID, row.rowId)
}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.EventType"
                                [matColumnDef]="mgc.EventType"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    Event Type
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field *ngIf="mg.isRowInRowEditing(row)">
                                                    <div>
                                                        <input
                                                            *ngIf="mg.isRowInRowEditing(row)"
                                                            matInput
                                                            [magic]="mgc.Event_Inforrmation_Event_Type"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Inforrmation_Event_Type"
                                                            mgFormat
                                                        >
                                                        <mgError
                                                            [magic]=mgc.Event_Inforrmation_Event_Type
                                                            [rowId]="row.rowId"
                                                        > </mgError>
                                                    </div>
                                                </mat-form-field>
                                                <label
                                                    *ngIf="!mg.isRowInRowEditing(row)"
                                                    [magic]="mgc.Event_Inforrmation_Event_Type"
                                                    [rowId]="row.rowId"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_Type, row.rowId)
}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.EventName"
                                [matColumnDef]="mgc.EventName"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    Event Name
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field *ngIf="mg.isRowInRowEditing(row)">
                                                    <div>
                                                        <input
                                                            *ngIf="mg.isRowInRowEditing(row)"
                                                            matInput
                                                            [magic]="mgc.Event_Inforrmation_Event_Name"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Inforrmation_Event_Name"
                                                            mgFormat
                                                        >
                                                        <mgError
                                                            [magic]=mgc.Event_Inforrmation_Event_Name
                                                            [rowId]="row.rowId"
                                                        > </mgError>
                                                    </div>
                                                </mat-form-field>
                                                <label
                                                    *ngIf="!mg.isRowInRowEditing(row)"
                                                    [magic]="mgc.Event_Inforrmation_Event_Name"
                                                    [rowId]="row.rowId"
                                                >
                                                    {{mg.getValue(mgc.Event_Inforrmation_Event_Name, row.rowId)
}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.EventLocation"
                                [matColumnDef]="mgc.EventLocation"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    Event Location
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field *ngIf="mg.isRowInRowEditing(row)">
                                                    <div>
                                                        <input
                                                            *ngIf="mg.isRowInRowEditing(row)"
                                                            matInput
                                                            [magic]="mgc.Event_Location"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Location"
                                                            mgFormat
                                                        >
                                                        <mgError
                                                            [magic]=mgc.Event_Location
                                                            [rowId]="row.rowId"
                                                        > </mgError>
                                                    </div>
                                                </mat-form-field>
                                                <label
                                                    *ngIf="!mg.isRowInRowEditing(row)"
                                                    [magic]="mgc.Event_Location"
                                                    [rowId]="row.rowId"
                                                >
                                                    {{mg.getValue(mgc.Event_Location, row.rowId)
}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.StartDate"
                                [matColumnDef]="mgc.StartDate"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    Start Date
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field
                                                    [magic]="mgc.Event_Inforrmation_Start_Date"
                                                    [rowId]="row.rowId"
                                                    [eventsOnly]=true
                                                    *ngIf="mg.isRowInRowEditing(row)"
                                                >
                                                    <div style="display: flex; flex-direction: row">
                                                        <input
                                                            matInput
                                                            [matDatepicker]="Event_Inforrmation_Start_Date"
                                                            [magic]="mgc.Event_Inforrmation_Start_Date"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Inforrmation_Start_Date"
                                                            mgFormat
                                                        >
                                                        <mat-datepicker-toggle
                                                            matSuffix
                                                            [for]="Event_Inforrmation_Start_Date"
                                                            *ngIf="!mg.checkIsReadOnly(mgc.Event_Inforrmation_Start_Date) &&  mg.isRowInRowEditing(row)"
                                                        >
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #Event_Inforrmation_Start_Date></mat-datepicker>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <label
                                                *ngIf="!mg.isRowInRowEditing(row)"
                                                [magic]="mgc.Event_Inforrmation_Start_Date"
                                                [rowId]="row.rowId"
                                            >
                                                {{mg.getValue(mgc.Event_Inforrmation_Start_Date, row.rowId)
| magicDate : mgc.Event_Inforrmation_Start_Date}}
                                            </label>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.EndDate"
                                [matColumnDef]="mgc.EndDate"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    End Date
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <div>
                                                <mat-form-field
                                                    [magic]="mgc.Event_Inforrmation_End_Date"
                                                    [rowId]="row.rowId"
                                                    [eventsOnly]=true
                                                    *ngIf="mg.isRowInRowEditing(row)"
                                                >
                                                    <div style="display: flex; flex-direction: row">
                                                        <input
                                                            matInput
                                                            [matDatepicker]="Event_Inforrmation_End_Date"
                                                            [magic]="mgc.Event_Inforrmation_End_Date"
                                                            [rowId]="row.rowId"
                                                            [formControlName]="mgc.Event_Inforrmation_End_Date"
                                                            mgFormat
                                                        >
                                                        <mat-datepicker-toggle
                                                            matSuffix
                                                            [for]="Event_Inforrmation_End_Date"
                                                            *ngIf="!mg.checkIsReadOnly(mgc.Event_Inforrmation_End_Date) &&  mg.isRowInRowEditing(row)"
                                                        >
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #Event_Inforrmation_End_Date></mat-datepicker>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <label
                                                *ngIf="!mg.isRowInRowEditing(row)"
                                                [magic]="mgc.Event_Inforrmation_End_Date"
                                                [rowId]="row.rowId"
                                            >
                                                {{mg.getValue(mgc.Event_Inforrmation_End_Date, row.rowId)
| magicDate : mgc.Event_Inforrmation_End_Date}}
                                            </label>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container
                                [magic]="mgc.Column_Action"
                                [matColumnDef]="mgc.Column_Action"
                            >
                                <mat-header-cell *matHeaderCellDef>
                                    Action
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <button
                                            mat-raised-button
                                            color="primary"
                                            [magic]="mgc.btn_Modify"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.btn_Modify, row.rowId)"
                                        >
                                            Modify
                                        </button>
                                    </div>
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <button
                                            mat-raised-button
                                            color="primary"
                                            [magic]="mgc.btn_Delete"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.btn_Delete, row.rowId)"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row
                                *matRowDef="let row; columns: displayedColumns;"
                                class="table_row"
                                [ngClass]="{ 'selected': selection.isSelected(row)}"
                                [magicRow]="row?.rowId"
                                (click)="row? tableService.selectRow(row.rowId) : null"
                            >
                            </mat-row>
                        </mat-table>
                        <mat-paginator
                            #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]"
                            (page)="tableService.mgOnPaginateChange($event)"
                        >
                        </mat-paginator>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row">
                    <button
                        mat-raised-button
                        color="primary"
                        [magic]="mgc.BtnViewRefresh"
                    >
                        ViewRefresh
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        [magic]="mgc.btnCreateEvent"
                    >
                        Create New Event
                    </button>
                </div>
            </mat-card>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card [style.visibility]="mg.getVisible(mgc.SFEventCard)">
                <magic-subform
                    [magic]="mgc.SFEventCard"
                    [style.visibility]="mg.getVisible(mgc.SFEventCard)"
                >
                </magic-subform>
            </mat-card>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.V_vToggleSubForm"
                            [formControlName]="mgc.V_vToggleSubForm"
                            mgFormat
                            rangevalidator
                        >
                        <mgError [magic]=mgc.V_vToggleSubForm> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>