<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div [magic]="mgc.MContact">
        <div class="member-contact-container">
            <div class="member-contact-content">

                <div class="form-actions">
                    <button
                        id="btnCreate_Contact"
                        type="button"
                        [magic]="mgc.btnCreate_Contact"
                        class="button-primary action-button"
                    >
                        Create Contact
                    </button>
                </div>

                <div class="table-container">
                    <div [magic]="mgc.TableMContact">
                        <mat-table
                            #table
                            [dataSource]="dataSource"
                            class="contact-table"
                            matSort
                            matSortDisableClear
                            (matSortChange)="tableService.sortData($event)"
                        >
                            <!-- Type Column -->
                            <ng-container
                                [magic]="mgc.ColumnType"
                                [matColumnDef]="mgc.ColumnType"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-type">
                                    Type
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-type"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <select
                                                id="ComboContactType"
                                                [magic]="mgc.ComboContactType"
                                                [formControlName]="mgc.ComboContactType"
                                                [rowId]="row.rowId"
                                                class="select-input"
                                            >
                                                <option value="">Select type...</option>
                                                <option
                                                    *ngFor="let o of mg.getItemListValues(mgc.ComboContactType);"
                                                    [value]="o.index"
                                                >
                                                    {{o.displayValue}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Value Column -->
                            <ng-container
                                [magic]="mgc.Column_Value"
                                [matColumnDef]="mgc.Column_Value"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-value">
                                    Value
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-value"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <input
                                                type="text"
                                                id="Contact_Inforrmation_Value"
                                                [magic]="mgc.Contact_Inforrmation_Value"
                                                [formControlName]="mgc.Contact_Inforrmation_Value"
                                                [rowId]="row.rowId"
                                                mgFormat
                                                class="text-input"
                                                maxlength="50"
                                                placeholder="Enter contact value"
                                            >
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- isPrimary Column -->
                            <ng-container
                                [magic]="mgc.Column_isPrimary"
                                [matColumnDef]="mgc.Column_isPrimary"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-primary">
                                    isPrimary
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-primary"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <div
                                            [formGroup]="mg.getFormGroupByRow(row.rowId)"
                                            style="display: flex; flex-direction: row"
                                        >
                                            <input
                                                type="checkbox"
                                                id="CheckBox_isPrimary"
                                                [magic]="mgc.CheckBox_isPrimary"
                                                [formControlName]="mgc.CheckBox_isPrimary"
                                                [rowId]="row.rowId"
                                                class="checkbox-input"
                                            >
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container
                                [magic]="mgc.ColumnAction"
                                [matColumnDef]="mgc.ColumnAction"
                            >
                                <mat-header-cell *matHeaderCellDef class="table-header-action">
                                    Action
                                </mat-header-cell>
                                <mat-cell
                                    *matCellDef="let row"
                                    magicMark="magicTableRowContainer"
                                    class="table-cell-action"
                                >
                                    <div
                                        style="display: flex; flex-direction: row"
                                        *ngIf="mg.ifRowCreated(row)"
                                    >
                                        <button
                                            id="btnDelete"
                                            type="button"
                                            [magic]="mgc.btnDelete"
                                            [rowId]="row.rowId"
                                            class="button-danger action-button-small"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row
                                *matRowDef="let row; columns: displayedColumns;"
                                class="table_row"
                                [ngClass]="{ 'selected': selection.isSelected(row)}"
                                [magicRow]="row?.rowId"
                                (click)="row? tableService.selectRow(row.rowId) : null"
                            >
                            </mat-row>
                        </mat-table>
                        <mat-paginator
                            #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]"
                            (page)="tableService.mgOnPaginateChange($event)"
                        >
                        </mat-paginator>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
