<!-- StartProgram Component - Pure HTML Layout -->
<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        [magic]="mgc.StartProgram"
        class="start-program-container"
    >
        <div class="start-program-content">

            <!-- Hello XPA Button -->
            <div class="form-row">
                <button
                    type="button"
                    id="btnHelloXPA"
                    [magic]="mgc.btnHelloXPA"
                    class="button-primary action-button"
                >
                    HelloXPA
                </button>
            </div>

            <!-- Header Text -->
            <div class="form-row">
                <input
                    type="text"
                    id="headerText"
                    [magic]="mgc.headerText"
                    [formControlName]="mgc.headerText"
                    mgFormat
                    class="label-text"
                />
            </div>

            <!-- Router Outlet Subform -->
            <div class="form-row">
                <magic-subform
                    [magic]="mgc.SubformRout"
                >
                </magic-subform>
            </div>

            <!-- Footer Text -->
            <div class="form-row">
                <input
                    type="text"
                    id="footerText"
                    [magic]="mgc.footerText"
                    [formControlName]="mgc.footerText"
                    mgFormat
                    readonly
                    class="label-text"
                />
            </div>

            <!-- User Dropdown Subform -->
            <div class="form-row">
                <magic-subform
                    [magic]="mgc.userDropdown"
                >
                </magic-subform>
            </div>

        </div>
    </div>
</div>
